# ========== Python ==========

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# If you use a virtual environment, ignore it:
env/
venv/
.venv/

# ========== Environment Files ==========

# Environment variables (DO NOT commit your credentials)
.env

# Dataset
data

